.titles{
  display: flex;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0 0.10rem;
  background-color: #fff;
  border-bottom: 0.01rem solid #ededed;
  .name{
    flex: 0 2.02rem;
    text-align: center;
  }
  .consumption{
    flex: 1;
  }
  .rank{
    flex: 0 0.4rem;
  }
}
.containerBox{
  width: 100%;
  background-color: #fff;
  .dataList{
    .dataItem{
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0.12rem 0.1rem 0.12rem 0.1rem;
      border-bottom: 0.01rem solid #ddd;
      .header{
        flex: 0 0.52rem;
        img{
          width: 0.42rem;
          height: 0.42rem;
          display: block;
        }
      }
      .left{
        flex: 0 1.5rem;
        .time{
          font-size: 0.12rem;
          color: #999;
          margin-top: 0.06rem;
        }

      }
      .center{
        flex: 1;
        .amount{
          font-size: 0.18rem;
        }
      }
      .right{
        flex: 0 0.4rem;
        font-size: 0.16rem;
      }
    }
  }
  .noData{
    margin-top: 4rem;
  }
}