.content{
  padding: 0.10rem;
  background-color: #fff;
  .text{
    color: #777;
    margin-bottom: 0.08rem;
  }
  .to{
    display: flex;
    text-align: center;
    padding-bottom: 0.10rem;
    margin-bottom: 0.08rem;
    color: #111;
    border-bottom: 0.01rem solid #ededed;
    img{
      display: inline-block;
      width: 0.15rem;
      height: 0.15rem;
      position: relative;
      top:0.03rem;
      margin-right: 0.04rem;
    }
  }
  .input{
    display: flex;
    background-color: #fafafa;
    padding: 0.15rem 0.1rem;
    align-items: center;
    border-radius: 0.02rem;
    .left{
      flex: 0 0.20rem;
      font-size: 0.18rem;
      color: #111;
      text-align: left;
    }
    .center{
      flex: 1;
      background-color: #fafafa;
      border-color: transparent;
    }
    .right{
      flex: 0 0.4rem;
      text-align: right;
      font-size: 0.12rem;
      color: #f4334c;
    }
  }
}
.submit{
  position: fixed;
  width: 100%;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
  font-size: 0.18rem;
  background-color: #f4334c;
  bottom: 0;
  color: #fff;
}