.tabs{
  height: 0.55rem;
  width: 100%;
  position: fixed;
  bottom:0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-items: center;
  .tab{
    flex: 1;
    text-align: center;
    text-decoration: none;
    .img{
      width: 0.20rem;
      height: 0.20rem;
      margin: 0 auto;
    }
    .text{
      font-size: 0.12rem;
      color: #777;
    }
    &.tabOne{
      .img{
        background-image: url("../../../assets/img/buy.png");
        background-size: 100% 100%;
      }
      &.active{
        .img{
          background-image: url("../../../assets/img/buyH.png");
        }
      }
    }
    &.tabTwo{
      .img{
        background-image: url("../../../assets/img/near.png");
        background-size: 100% 100%;
      }
      &.active{
        .img{
          background-image: url("../../../assets/img/nearH.png");
        }
      }

    }
    &.tabTree{
      .img{
        background-image: url("../../../assets/img/circle.png");
        background-size: 100% 100%;
      }
      &.active{
        .img{
          background-image: url("../../../assets/img/circleH.png");
        }
      }

    }
    &.tabFour{
      .img{
        background-image: url("../../../assets/img/me.png");
        background-size: 100% 100%;
      }
      &.active{
        .img{
          background-image: url("../../../assets/img/meH.png");
        }
      }

    }
    &.active{
      .text{
        color:#f3344a;
      }
    }
  }
}